{% block base_config %}
{{ super() }}
!
{% if ip_default_gateway %}
ip route 0.0.0.0/0 {{ default_gateway_address }}
{% endif %}
!
{% if ip_route %}
ip route {{ destination_network }} {{ subnet_mask }}
 {% if next_hop %}
  {{ next_hop }}
 {% endif %}
 {% if administrative_distance %}
  administrative-distance {{ administrative_distance }}
 {% endif %}
 {% if route_tag %}
  tag {{ route_tag }}
 {% endif %}
{% endif %}
!
{% if router_bgp %}
router bgp {{ bgp_as_number }}
 {% if bgp_router_id %}
  bgp router-id {{ bgp_router_id }}
 {% endif %}
 {% for neighbor in bgp_neighbors %}
  neighbor {{ neighbor.ip }} remote-as {{ neighbor.as_number }}
   {% if neighbor.description %}
    description {{ neighbor.description }}
   {% endif %}
   {% if neighbor.update_source %}
    update-source {{ neighbor.update_source }}
   {% endif %}
   {% if neighbor.password %}
    password {{ neighbor.password }}
   {% endif %}
   {% if neighbor.route_map_in %}
    route-map {{ neighbor.route_map_in }} in
   {% endif %}
   {% if neighbor.route_map_out %}
    route-map {{ neighbor.route_map_out }} out
   {% endif %}
   {% if neighbor.filter_list_in %}
    filter-list {{ neighbor.filter_list_in }} in
   {% endif %}
   {% if neighbor.filter_list_out %}
    filter-list {{ neighbor.filter_list_out }} out
   {% endif %}
 {% endfor %}
 {% for network in bgp_networks %}
  network {{ network.network }}
   {% if network.mask %}
    mask {{ network.mask }}
   {% endif %}
 {% endfor %}
 {% if bgp_redistribute_connected %}
  redistribute connected
 {% endif %}
 {% if bgp_redistribute_static %}
  redistribute static
 {% endif %}
 {% for aggregate in bgp_aggregate_addresses %}
  aggregate-address {{ aggregate.address }}
   {% if aggregate.summary_only %}
    summary-only
   {% endif %}
 {% endfor %}
 {% if bgp_default_information_originate %}
  default-information originate
   {% if bgp_default_information_metric %}
    metric {{ bgp_default_information_metric }}
   {% endif %}
   {% if bgp_default_information_route_map %}
    route-map {{ bgp_default_information_route_map }}
   {% endif %}
 {% endif %}
 {% if bgp_distance %}
  distance {{ bgp_distance }}
 {% endif %}
 {% if bgp_maximum_paths %}
  maximum-paths {{ bgp_maximum_paths }}
   {% if bgp_maximum_paths_ibgp %}
    ebgp {{ bgp_maximum_paths_ibgp }}
   {% endif %}
  {% endif %}
 {% if bgp_neighbor_maximum_prefix %}
  neighbor {{ bgp_neighbor_ip }} maximum-prefix {{ bgp_neighbor_maximum_prefix }}
   {% if bgp_neighbor_maximum_prefix_threshold %}
    threshold {{ bgp_neighbor_maximum_prefix_threshold }}
   {% endif %}
   {% if bgp_neighbor_maximum_prefix_restart %}
    restart {{ bgp_neighbor_maximum_prefix_restart }}
   {% endif %}
 {% endif %}
 {% if bgp_timers_keepalive and bgp_timers_holdtime %}
  timers bgp {{ bgp_timers_keepalive }} {{ bgp_timers_holdtime }}
 {% endif %}
 {% if bgp_log_neighbor_changes %}
  log-neighbor-changes
 {% endif %}
 {% if bgp_clear_ip_bgp_soft %}
  clear ip bgp soft
 {% endif %}
{% endif %}
!
{% block base_config %}
{{ super() }}
!
{% if ip_default_gateway %}
ip route 0.0.0.0/0 {{ default_gateway_address }}
{% endif %}
!
{% if ip_route %}
ip route {{ destination_network }} {{ subnet_mask }}
 {% if next_hop %}
  {{ next_hop }}
 {% endif %}
 {% if administrative_distance %}
  administrative-distance {{ administrative_distance }}
 {% endif %}
 {% if route_tag %}
  tag {{ route_tag }}
 {% endif %}
{% endif %}
!
{% if router_ospf %}
router ospf {{ ospf_process_id }}
 {% if ospf_address_family_ipv4 %}
  address-family ipv4
 {% endif %}
  network {{ ospf_network }} {{ ospf_subnet_mask }} area {{ ospf_area }}
 {% if ospf_auto_cost %}
  auto-cost {{ ospf_auto_cost }}
 {% endif %}
 {% if ospf_bfd_all_interfaces %}
  bfd all-interfaces
 {% endif %}
 {% if ospf_capability_rfc1583 %}
  capability rfc1583
 {% endif %}
 {% if ospf_capability_rfc1587 %}
  capability rfc1587
 {% endif %}
 {% if ospf_default_information_originate %}
  default-information originate
 {% endif %}
 {% if ospf_default_metric %}
  default-metric {{ ospf_default_metric }}
 {% endif %}
 {% if ospf_distance %}
  distance {{ ospf_distance }}
 {% endif %}
 {% if ospf_distribute_list %}
  distribute-list {{ ospf_distribute_list }} {{ ospf_distribute_list_type }} {{ ospf_distribute_list_parameter }}
 {% endif %}
 {% if ospf_interface_id %}
  interface-id {{ ospf_interface_id }}
 {% endif %}
 {% if ospf_ispf %}
  ispf
 {% endif %}
 {% if ospf_log_adjacency_changes %}
  log-adjacency-changes
  {% if ospf_log_adjacency_changes_detail %}
   detail
  {% endif %}
 {% endif %}
 {% if ospf_max_lsa %}
  max-lsa {{ ospf_max_lsa }}
 {% endif %}
 {% if ospf_max_metric_router_lsa %}
  max-metric router-lsa {{ ospf_max_metric_router_lsa }}
  {% if ospf_max_metric_router_lsa_external_lsa %}
   external-lsa {{ ospf_max_metric_router_lsa_external_lsa }}
    {% if ospf_max_metric_router_lsa_external_lsa_include_stub %}
     include-stub
    {% endif %}
    {% if ospf_max_metric_router_lsa_external_lsa_on_startup %}
     on-startup
    {% endif %}
    {% if ospf_max_metric_router_lsa_external_lsa_summary_lsa %}
     summary-lsa
    {% endif %}
  {% endif %}
  {% if ospf_max_metric_router_lsa_include_stub %}
   include-stub
  {% endif %}
  {% if ospf_max_metric_router_lsa_on_startup %}
   on-startup
  {% endif %}
  {% if ospf_max_metric_router_lsa_summary_lsa %}
   summary-lsa
  {% endif %}
 {% endif %}
 {% if ospf_maximum_paths %}
  maximum-paths {{ ospf_maximum_paths }}
 {% endif %}
 {% if ospf_mpls_traffic_eng %}
  mpls traffic-eng
  {% if ospf_mpls_traffic_eng_area %}
   area {{ ospf_mpls_traffic_eng_area }}
  {% endif %}
 {% endif %}
 {% if ospf_neighbor %}
  neighbor {{ ospf_neighbor }}
 {% endif %}
 {% if ospf_network_enable %}
  network {{ ospf_network_enable }}
 {% endif %}
 {% if ospf_passive_interface %}
  passive-interface {{ ospf_passive_interface }}
 {% endif %}
 {% if ospf_priority %}
  priority {{ ospf_priority }}
 {% endif %}
 {% if ospf_redistribute %}
  redistribute {{ ospf_redistribute }}
  {% if ospf_redistribute_bgp %}
   bgp
  {% elif ospf_redistribute_connected %}
   connected
  {% elif ospf_redistribute_eigrp %}
   eigrp
  {% elif ospf_redistribute_isis %}
   isis
  {% elif ospf_redistribute_lisp %}
   lisp
  {% elif ospf_redistribute_ospf %}
   ospf
  {% elif ospf_redistribute_ospfv3 %}
   ospfv3
  {% elif ospf_redistribute_static %}
   static
  {% elif ospf_redistribute_vrf %}
   vrf {{ ospf_redistribute_vrf }}
  {% endif %}
 {% endif %}
!
{% endif %}
vrf definition {{ vrf_name }}
 {% if vrf_rd %}
  rd {{ vrf_rd }}
 {% endif %}
 {% if vrf_route_target %}
  route-target export {{ vrf_route_target }}
  route-target import {{ vrf_route_target }}
 {% endif %}
!
interface {{ interface_name }}
 {% if vrf_forwarding %}
  vrf forwarding {{ vrf_forwarding }}
 {% endif %}
!
ip vrf {{ vrf_name }}
 {% if vrf_description %}
  description {{ vrf_description }}
 {% endif %}
!
{% endblock %}
